@import "tailwindcss";

.animate-scroll-infinite {
  animation: scroll-infinite 90s linear infinite;
}

@keyframes scroll-infinite {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}